APP_PORT=8080
DB_USER=postgres
DB_HOST=localhost
DB_NAME=walled_db
DB_PASSWORD=postgres
DB_PORT=5432
DATABASE_URL=postgres://neondb_owner:nkI7Aehai3Sr@ep-raspy-salad-a13t01nj-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
